.page-container {
	display: flex;
	justify-content: space-between;
	padding: 24px;
}

.quiz-form-container {
	display: flex;
	flex-direction: column;
	min-width: 400px;
	padding: 24px 32px;
	text-align: center;
	border: 2px solid var(--light-gray);
	border-radius: 24px;
	box-shadow: 0 0 4px var(--light-blue);
}
