.title {
	padding: 20px 30px;
	font-size: 20px;
	font-weight: 700;
	line-height: 25px;
}

.board {
	height: calc(100vh - 77px - 65px);
	padding: 30px;
	background-image: url("../../assets/img/board-background.svg");
	background-repeat: repeat;
}

.card {
	width: 356px;
	height: 251px;
	padding: 20px;
	background-color: var(--white);
	border: 1px solid var(--background-gray);
	border-radius: 20px;
}
