.auth-container {
	position: relative;
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 30px;
	min-height: 100vh;
	overflow: hidden;
	background-color: var(--background);
}

.form-container {
	z-index: var(--z-index-low);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 50px 20px;
	margin: 15px;
	background-color: var(--white);
	border-radius: 20px;
}

.form-header {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 350px;
	margin-bottom: 5px;
}

.form-header__logo-container {
	display: flex;
	gap: 7px;
	align-items: center;
	margin-bottom: 24px;
}

.form-header__logo {
	width: 33px;
	height: 33px;
	background: linear-gradient(
		to right,
		var(--free-time-start) 0%,
		var(--free-time-end) 100%
	);
	border-radius: 50%;
}

.form-header__logo-text {
	font-size: 24px;
	font-weight: bold;
	text-transform: uppercase;
}

.form-header__text {
	margin-block: 10px;
	font-size: 24px;
	text-transform: uppercase;
}

.form-header__sub-text {
	display: flex;
	flex-direction: column;
	gap: 10px;
	margin-bottom: 31px;
	font-size: 16px;
}

.logo-container {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
}

.ripple-effect__background1 {
	position: absolute;
	top: 0;
	left: 50%;
	width: 30%;
	height: auto;
	transform: translateX(-50%);
}

.ripple-effect__background2 {
	position: absolute;
	bottom: -40%;
	left: 42%;
	width: 60%;
	height: auto;
	max-height: 440px;
	transform: translateY(-50%);
}

.white-dots {
	position: absolute;
	top: 0;
	right: 0;
	width: 50%;
	height: 100%;
	background-image: url("../../assets/img/ellipse.svg"),
		url("../../assets/img/ellipse.svg"), url("../../assets/img/ellipse.svg"),
		url("../../assets/img/ellipse.svg"), url("../../assets/img/ellipse.svg");
	background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, no-repeat;
	background-position:
		right 20% top 10%,
		right 70% top 45%,
		right 15% top 60%,
		left 15% top 70%,
		left 45% top 75%;
}

@media (width <= 768px) {
	.logo-container {
		display: none;
	}

	.auth-container {
		grid-template-columns: 1fr;
	}

	.form-container {
		padding: 40px 20px;
	}

	.form-header {
		width: 100%;
	}

	.ripple-effect__background1,
	.ripple-effect__background2 {
		width: 528px;
		height: 528px;
	}

	.ripple-effect__background1 {
		top: -5%;
		left: 100%;
	}

	.ripple-effect__background2 {
		bottom: -60%;
		left: -45%;
	}
}
