.auth-container {
	position: relative;
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 30px;
	overflow: hidden;
	background-color: var(--background);
}

.form-container {
	display: flex;
	justify-content: center;
	padding: 120px 20px 20px;
	margin: 15px;
	background-color: var(--white);
	border-radius: 20px;
}

.title-container {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
}

.title {
	font-size: 70px;
	color: var(--white);
	text-transform: uppercase;
}

@media (width <= 640px) {
	.title-container {
		display: none;
	}

	.auth-container {
		grid-template-columns: 1fr;
		height: 100vh;
		padding-top: 100px;
		padding-bottom: 60px;
	}

	.form-container {
		align-items: flex-start;
		justify-content: stretch;
		padding: 60px 20px 20px;
	}
}
