.auth-container {
	display: flex;
	width: 100vw;
	height: 100vh;
	background-color: var(--background);
}

.form-container {
	display: flex;
	flex-basis: 40%;
	flex-direction: column;
	padding: 80px 160px;
	margin: 16px;
	background-color: white;
	border-radius: 32px;
}

.illustration-container {
	position: relative;
	display: flex;
	flex-basis: 60%;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	color: white;
}

.illustration-container .title {
	font-size: 70px;
}

.illustration-container .img-left {
	position: absolute;
	top: -200px;
	left: -300px;
	z-index: 0;
	width: 60%;
}

.illustration-container .img-right {
	position: absolute;
	right: -100px;
	bottom: -200px;
	z-index: 0;
	width: 90%;
}
