.container {
	position: relative;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: 100%;
}

.circles-container {
	width: 100%;
	height: 100%;
}

.outer-circle {
	color: #e5e7eb;
}

.second-path {
	color: #0085ff;
	transition: all 0.5s ease-out;
}

.percentage-wrapper {
	position: absolute;
	bottom: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	animation: fade-in-up 0.5s;
}

.percentage {
	font-size: 24px;
	font-weight: bold;
	line-height: 100%;
}

.percentage-title {
	font-size: 10px;
}

.percent-symbol {
	font-size: 12px;
}

@keyframes fade-in-up {
	0% {
		bottom: -30px;
		opacity: 0;
	}

	100% {
		bottom: 0;
		opacity: 1;
	}
}
