.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.header {
	display: flex;
	gap: 25%;
	align-items: center;
	width: 100%;
	height: 69px;
	padding: 13px 33px;
	margin-bottom: 20px;
}

.header-text {
	font-size: 20px;
	font-weight: 700;
	line-height: 25px;
	text-transform: capitalize;
}

.switch-container {
	position: relative;
	width: 253px;
}

.content-wrapper {
	display: flex;
	justify-content: center;
	height: fit-content;
	margin: 0 20px;
}

.content {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-left: 16px;
}

.button-wrapper {
	width: 306px;
	margin-top: 36px;
}

.date-container {
	display: flex;
	align-items: center;
	width: max-content;
	height: 29px;
	padding: 5px 17px;
	text-align: left;
	user-select: none;
	background: var(--background-gray);
	border: 1px solid var(--background-gray);
	border-radius: 22px;
}

.date {
	font-size: 12px;
	font-weight: 400;
	line-height: 146%;
}

.header-text-container {
	display: flex;
	flex-direction: column;
	gap: 7px;
}

@media (width <= 1024px) {
	.container {
		margin-bottom: 30px;
	}

	.content-hidden {
		display: none;
		height: 0;
	}

	.content-wrapper {
		display: flex;
		flex-direction: column;
		gap: 40px;
		align-items: center;
	}

	.header {
		display: flex;
		flex-direction: column;
		gap: 7px;
		align-items: flex-start;
		height: auto;
	}

	.switch-container {
		left: 0;
		align-self: center;
	}
}
