.page-container {
	display: flex;
	flex-direction: column;
	gap: 32px;
	padding: 35px;
}

.header-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.header-title {
	font-size: 24px;
	font-weight: 700;
	line-height: 25px;
}

.button-container {
	justify-self: end;
	width: fit-content;
}
