.btn {
	width: 100%;
	padding: 10px 0;
	font-family: var(--nunito-font);
	font-size: 16px;
	font-weight: 700;
	color: white;
	border: none;
	border-radius: 32px;
}

.btn-dark {
	background-color: var(--dark);
}
