.Toastify__toast-container .Toastify__toast-body {
	padding: 6px 20px;
}

.Toastify__toast-container .Toastify__close-button {
	align-self: center;
}

.Toastify__toast-container .Toastify__toast-icon {
	width: auto;
}

.Toastify__toast-container .Toastify__toast--success {
	color: var(--success);
	border-left: 6px solid var(--background-success);
}

.Toastify__toast-container .Toastify__toast--error {
	color: var(--error);
	border-left: 6px solid var(--background-error);
}

.Toastify__toast-container .Toastify__toast--warning {
	color: var(--warning);
	border-left: 6px solid var(--background-warning);
}

.Toastify__toast-container .Toastify__toast--info {
	color: var(--info);
	border-left: 6px solid var(--background-info);
}
