.pageContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
	background-color: var(--background);
	background-image: url("../../assets/img/blue-circle.svg"),
		url("../../assets/img/pink-circle.svg"),
		url("../../assets/img/green-circle.svg"),
		url("../../src/assets/img/ripple-effect-bg.svg"),
		url("../../src/assets/img/ripple-effect-bg2.svg"),
		url("../../src/assets/img/ripple-effect-bg4.svg"),
		url("../../src/assets/img/elipses-not-found.svg");
	background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, no-repeat,
		no-repeat, no-repeat;
	background-position:
		right 40% bottom 15%,
		left 15% top 45%,
		right 10% top 20%,
		left 600px top -15%,
		right -150px bottom -300px,
		left -500px bottom -100px,
		top 100px right 100px;
}

.title {
	margin-bottom: 20px;
	font-size: 48px;
	font-weight: 700;
	color: var(--white);
	text-shadow: 2px 2px 1px var(--brand);
}

.text {
	margin-bottom: 30px;
	font-size: 28px;
	font-weight: 500;
	color: var(--white);
	text-shadow: 2px 2px 1px var(--brand);
}
