.signup-container .logo-container {
	display: flex;
	gap: 8px;
	align-items: center;
}

.circle {
	width: 30px;
	height: 30px;
	border-radius: 100%;
}

.circle-pink {
	background: var(--pink-gradient);
}

.title-form {
	margin-top: 30px;
	margin-bottom: 8px;
	font-weight: 700;
}

.signup-container .auth-info {
	font-family: inherit;
	font-weight: 600;
}

.input-groups {
	display: flex;
	flex-direction: column;
	gap: 16px;
	margin: 24px 0;
}
