.container {
	position: relative;
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 30px;
	height: 100dvh;
	padding: 15px;
	overflow: hidden;
	background-color: var(--background);
}

.form-container {
	z-index: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--white);
	border-radius: 20px;
}

.form {
	display: flex;
	flex-direction: column;
	gap: 20px;
	width: 100%;
	max-width: 350px;
	padding-inline: 20px;
}

.form-header {
	margin-bottom: 5px;
}

.form-header__logo-container {
	display: flex;
	gap: 7px;
	align-items: center;
	margin-bottom: 35px;
}

.form-header__logo {
	width: 33px;
	height: 33px;
	background: linear-gradient(
		to right,
		var(--free-time-start) 0%,
		var(--free-time-end) 100%
	);
	border-radius: 50%;
}

.form-header__logo-text {
	font-size: 24px;
	font-weight: bold;
}

.form-header__text {
	margin-block: 10px;
}

.form-header__sub-text {
	font-size: medium;
}

.logo-container {
	display: flex;
	align-items: center;
	justify-content: center;
}

.logo {
	font-size: 40px;
	font-weight: bold;
	color: var(--white);
}

.ripple-effect__background1 {
	position: absolute;
	top: 0;
	left: 50%;
	width: 30%;
	height: auto;
	transform: translateX(-50%);
}

.ripple-effect__background2 {
	position: absolute;
	bottom: -50%;
	left: 25%;
	width: 100%;
	height: auto;
	max-height: 500px;
	transform: translateY(-50%);
}

.circle-gradient1 {
	display: none;
	background: linear-gradient(
		to bottom,
		var(--physical-start) 0%,
		var(--physical-end) 100%
	);
	border-radius: 50%;
	transform: translateX(-50%);
}

.circle-gradient2 {
	position: absolute;
	right: 40%;
	bottom: 20%;
	width: 35px;
	height: 35px;
	background: linear-gradient(
		to right,
		var(--free-time-start) 0%,
		var(--free-time-end) 100%
	);
	border-radius: 50%;
}

.circle-gradient3 {
	position: absolute;
	top: 20%;
	right: 35%;
	width: 70px;
	height: 70px;
	background: linear-gradient(
		to right,
		var(--work-start) 0%,
		var(--work-end) 100%
	);
	border-radius: 50%;
}

.circle-gradient4 {
	position: absolute;
	top: 30%;
	right: 10%;
	width: 120px;
	height: 120px;
	background: linear-gradient(
		to right,
		var(--mental-start) 0%,
		var(--mental-end) 100%
	);
	border-radius: 50%;
}

@media (width <= 640px) {
	.logo-container {
		display: none;
	}

	.container {
		grid-template-columns: 1fr;
		padding-top: 80px;
		padding-bottom: 60px;
	}

	.form-container {
		align-items: flex-start;
		justify-content: stretch;
		padding-top: 60px;
		padding-bottom: 40px;
	}

	.form {
		align-items: stretch;
		min-width: 100%;
	}

	.ripple-effect__background1,
	.ripple-effect__background2 {
		width: 528px;
		height: 528px;
	}

	.ripple-effect__background1 {
		top: -5%;
		left: 100%;
	}

	.ripple-effect__background2 {
		bottom: -60%;
		left: -45%;
	}

	.circle-gradient1,
	.circle-gradient2 {
		display: none;
	}

	.circle-gradient3 {
		top: 90%;
		left: -10%;
		display: block;
		width: 150px;
		height: 150px;
	}

	.circle-gradient4 {
		top: -5%;
		right: 15%;
		z-index: 2;
		display: block;
		width: 86px;
		height: 86px;
	}
}
