.insights-container {
	display: flex;
	gap: 50px;
	align-items: center;
	justify-content: center;
}

.insight-value {
	font-size: 24px;
	font-weight: bold;
}

.insight-title {
	font-size: 10px;
}

.balance-value {
	color: #ff7a00;
}

.average-value {
	color: #20b82f;
}

.balance-insight {
	display: flex;
	flex-direction: column;
	text-align: center;
	transform: translateX(0);
	animation: fade-in-left 0.5s;
}

.average-insight {
	display: flex;
	flex-direction: column;
	text-align: center;
	transform: translateX(0);
	animation: fade-in-right 0.5s;
}

@keyframes fade-in-left {
	0% {
		opacity: 0;
		transform: translateX(80%);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes fade-in-right {
	0% {
		opacity: 0;
		transform: translateX(-80%);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}
