.sign-in__container {
	position: relative;
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 30px;
	height: 100dvh;
	padding: 15px;
	overflow: hidden;
	background-color: var(--background);
}

.sign-in__form-container {
	z-index: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--white);
	border-radius: 20px;
}

.sign-in__form {
	display: flex;
	flex-direction: column;
	gap: 20px;
	width: 100%;
	max-width: 350px;
	padding-inline: 20px;
}

.sign-in__form-header {
	margin-bottom: 5px;
}

.sign-in__form-header-logo-container {
	display: flex;
	gap: 7px;
	align-items: center;
	margin-bottom: 35px;
}

.sign-in__form-header-logo {
	width: 33px;
	height: 33px;
	background: linear-gradient(to right, #ff5794 0%, #fc72ff 100%);
	border-radius: 50%;
}

.sign-in__form-header-logo-text {
	font-size: 24px;
	font-weight: bold;
}

.sign-in__form-header-text {
	margin-block: 10px;
}

.sign-in__form-header-sub-text {
	font-size: medium;
}

.sign-in__logo-container {
	display: flex;
	align-items: center;
	justify-content: center;
}

.sign-in__logo {
	font-size: 40px;
	font-weight: bold;
	color: var(--white);
}

.ripple-effect__background1 {
	position: absolute;
	top: 0;
	left: 50%;
	width: 30%;
	height: auto;
	transform: translateX(-50%);
}

.ripple-effect__background2 {
	position: absolute;
	bottom: -50%;
	left: 42%;
	width: 60%;
	height: auto;
	max-height: 500px;
	transform: translateY(-50%);
}

.circle-gradient1 {
	position: absolute;
	top: 5%;
	left: 58%;
	width: 130px;
	height: 130px;
	background: linear-gradient(to bottom, #ffe307 0%, #fff8b5 100%);
	border-radius: 50%;
	transform: translateX(-50%);
}

.circle-gradient2 {
	position: absolute;
	top: 20%;
	right: 10%;
	width: 35px;
	height: 35px;
	background: linear-gradient(to right, #ff5794 0%, #fc72ff 100%);
	border-radius: 50%;
}

.circle-gradient3 {
	position: absolute;
	right: 10%;
	bottom: 10%;
	width: 100px;
	height: 100px;
	background: linear-gradient(to right, #69ff35 0%, #c3ff19 100%);
	border-radius: 50%;
}

@media (width <= 640px) {
	.sign-in__logo-container {
		display: none;
	}

	.sign-in__container {
		grid-template-columns: 1fr;
	}
}
