.container {
	height: 100dvh;
	padding: 15px;
	background-color: var(--background);
}

.introduction {
	display: flex;
	flex-direction: column;
	gap: 25px;
	align-items: center;
	justify-content: center;
	height: 100%;
	padding: 15px;
	background-color: var(--white);
	border-radius: 20px;
}

.header {
	max-width: 300px;
	text-align: center;
}

.text {
	max-width: 470px;
	font-size: 20px;
	font-weight: 700;
	text-align: center;
}

.btn {
	width: 100%;
	max-width: 250px;
}
